<%= form_for @article  do |f| %>
  <% if @article.errors.any? %>
    <%= pluralize(@article.errors.count, 'error') %>
    <% @article.errors.full_messages.each do |msg| %>
      <p> <%= msg %>
    <% end %>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>