<p><strong>Title:</strong></p>
<%= @article.title %>
<p><strong>content:</strong></p>
<%= @article.text %>
<h2>Comments:</h2>
<%= render @article.comments %>

<h2>Add new comment</h2>
<%= render 'comments/form' %>

<hr/>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>